.App {
  text-align: center;
  font-family: monospace;
  overflow-x: hidden;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  font-family: 'Papyrus', monospace;
  margin: 1rem 0;
}
.facey {
  margin: 0.5rem 0;
}
.api-changer, .speedometer-reseter {
  cursor: pointer;
  font-size: 1.25rem;
  background-color: blueviolet;
  margin-left: 1rem;
  border-radius: 4px;
  padding: 6px;
}

.speedometer-reseter {
  margin: 0;
}

.whole-string {
  font-size: 1.25rem;
  max-width: 90vw;
}

.Character {
  white-space: pre;
  background-color: #191c1f;
  padding: 4px;
  border-radius: 5px;
  border: 2px solid black;
}

.Character-current {
  background-color: #09d3ac;
}

.Character-current-wrong {
  background-color: red;
}

.Character-out {
  color: silver;
}

.stats {
  margin: 1rem 0;
}

.commentary {
  margin: 0.25rem 0;
}